# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Variáveis de ambiente
.env
.env.local

.vercel
.env*.local
