@use '../abstracts/variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v.$font-primary;
  list-style: none;
}

body {
  background-color: v.$color-bg;
  font-family: v.$font-primary;
}
